* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
}

header {
  width: 100%;
  height: 7%;
  background-color: #2980b9;
}

header .logo {
  width: 20%;
  height: 100%;
  float: left;
  display: flex;
  color: #ecf0f1;
  justify-content: center;
  align-items: center;
}

header .logo h1 span {
  font-size: 15px;
}

header .menu {
  padding-right: 10px;
  width: 80%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: right;
  align-items: center;
}

header .menu ul {
  list-style-type: none;
}

header .menu ul li {
  display: inline;
  margin: 0 5px;
}

header .menu ul li a {
  color: #ecf0f1;
  text-decoration: none;
}

.slider {
  width: 100%;
  height: 50%;
  background-image: url("../images/pic.jpg");
  background-size: cover;
  background-position: center;
}

.text {
  width: 100%;
  height: 20%;
  color: #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text h1 {
  font-weight: bold;
}

.statistcs {
  color: #ecf0f1;
  width: 100%;
  height: 50%;
  padding: 15px 20px;
  text-align: center;
  background-color: #2980b9;
}

.statistcs div {
  width: 30%;
  height: 70%;
  display: inline-block;
}

.statistcs h1 {
  margin-bottom: 30px;
}

.statistcs > div > img {
  width: 80px;
  height: 80px;
}

.subs {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs input {
  width: 250px;
  margin-right: 15px;
  padding: 10px 5px;
  border: none;
  direction: rtl;
  background-color: #bdc3c7;
  color: #ecf0f1;
  text-align: center;
}

.subs button {
  border: none;
  padding: 10px;
  background-color: #2980b9;
  cursor: pointer;
  color: #ecf0f1;
}

footer {
  width: 100%;
  height: 10%;
  background-color: #2980b9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
}

/* About Page */

.about-con {
  width: 100%;
  height: 45%;
  margin: 100px 0;
  background-color: #9b59b6;
  display: flex;
  color: #ecf0f1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-con p {
  font-size: 20px;
  margin: 20px 0;
}

/* Global Classes */

.pos {
  position: absolute;
  bottom: 0;
}
